[submodule "bidly-backend/bidly-backend-auth"]
	path = bidly-backend/bidly-backend-auth
	url = https://github.com/aididalam/bidly-backend-auth.git
[submodule "bidly-backend/bidly-backend-aunction"]
	path = bidly-backend/bidly-backend-aunction
	url = https://github.com/aididalam/bidly-backend-aunction.git
[submodule "bidly-frontend/bidly-frontend-auth"]
	path = bidly-frontend/bidly-frontend-auth
	url = https://github.com/aididalam/bidly-frontend-auth.git
[submodule "bidly-frontend/bidly-frontend-aunction"]
	path = bidly-frontend/bidly-frontend-aunction
	url = https://github.com/aididalam/bidly-frontend-aunction.git
[submodule "bidly-argo-cd"]
	path = bidly-argo-cd
	url = https://github.com/aididalam/bidly-argo-cd.git
